@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

hr{
  border-color: #1e272e;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-size: cover;
  background: linear-gradient(to right, #e17055, #f8c291, #fab1a0, #eb4d4b);
}

h1{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  color: #1e272e;
}

label {
  padding: 10px;
  font-size: 1rem;
  font-weight: 600;
}

.converter{
  text-align: center;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background-color: #f7f1e3;
  border-radius: 10px;
  box-shadow: 0 0 10px #576574;
}

.logo{
  padding: 5px;
  height: 200px;
  width: 200px;
  align-items: center;
  margin: 5px;
}

select, input{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #d1ccc0;
  border-radius: 5px;
  background-color: #f1f2f6;
  outline: none;
  font-size: 1rem;
  font-weight: normal;
}

button{
  background-color: #686de0;
  color: #ffffff;
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: normal;
}

button:hover{
  background-color: #5758BB;
}

#result{
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 2px solid #d1ccc0;
  border-radius: 5px;
  outline: none;
  font-weight: bold;
  color: #333;
}

@media screen and (max-width:500px){
  .converter{
      width: 90%;
  }
}

@keyframes fadeIn{
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
  h1{
      color: #1e272e;
      animation: fadeIn 1s ease-in-out;
  }
}
